:root{
    --color-primary: #801724;
    --color-secondary: #d3d3d3;
    --color-background: #1e1e1e;
    --color-white: #fafafa;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden !important;
    background-color: var(--color-background);
}

header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(
        to right, #000, #000000b6, #00000052
    ), url(img/bernardo-lorena-ponte-E7ZqmNZEr6M-unsplash.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

header nav{
display: flex;
align-items: center;
justify-content: space-between;
padding-left: 4%;
padding-right: 4%;
height: 7vh;
overflow-x: hidden;
}

.logo{
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: var(--color-primary);
    opacity: .9;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5vh;
    z-index: 9999;
}

.nav-list li{
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--color-secondary);
    transition: .3s;
    display: inline-block;
    font-size: 17px;
}

nav a:hover{
    color: var(--color-white);
    text-shadow: 0px 0px 10px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
    border-radius: 6px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #5e5e5e;
    border-radius: 6px;
    margin: 6px;
    transition: .3s;
    cursor: pointer;
}

.title-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
}

.title1 h1{
    font-family: "Playfair Display", serif;
    font-size: 50px;
     color: var(--color-primary);
}

.title1 P{
    color: var(--color-secondary);
    font-size: 20px;
}

.title-img img{
    opacity: .12;
}








@media (max-width: 999px) {

    
    header{
        width: 100%;
        height: 100vh;
        overflow-x: hidden !important; 
    }
    
    .nav-list{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 60vw;
        height: 93vh;
        background-color: #676767;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: .3s ease-in;
        border-bottom-right-radius: 10px;
    }
    
    .nav-list li{
        margin-left: 0;
        opacity: 0;
        display: block;
        overflow-x: hidden !important;
    }

    .nav-list li a{
        color: #FFF !important;
    }

    .nav-list.active{
        transform: translateX(0);
        overflow-x: hidden !important;
    }

    .mobile-menu{
        display: block;
        overflow-x: hidden !important;
    }

    .title-img img{
        display: none;
    }


}

@keyframes navLinkFade {

    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-6px, 7px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}